<ul>
  <% for u in @us %>
    <li>
      <label><%= u.name %></label>
      <div>
        <ul>
          <% for l in u.localidades %>
            <li><%= l.name %></li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>