
<div class="row">
	<div class="col-12 text-center"> 
		<h1><%= current_usuario.email %></h1>
	</div>

</div>

<div class="row col-12 text-center ml-2">
	<ul class="list-group">
	  <li class="list-group-item"><a href="/localidades">LOCALIDADES</a></li>
	  <li class="list-group-item"><a href="/universidades">UNIVERSIDADES</a></li>
	  <li class="list-group-item"><a href="/materias">MATERIAS</a></li>
	  <li class="list-group-item"></li>
	  <li class="list-group-item"><a href="/tutores">TUTORES</a></li>
	  <li class="list-group-item"><a href="/estudiantes">ESTUDIANTES</a></li>
	  <li class="list-group-item"><a href="/administradores">ADMINISTRADORES</a></li>
	  <li class="list-group-item"></li>
	  <li class="list-group-item"><a href="/agenda">AGENDA</a></li>
	  <li class="list-group-item"><a href="/calificaciones">CALIFIACIONES</a></li>
	</ul>
</div>

<hr>

<a class="btn btn-danger ml-4" data-method="delete" href="/usuarios/sign_out">Salir</a>

